body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.planner-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.date-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    flex-wrap: wrap;
}

.date-picker input[type="date"] {
    padding: 2px 5px;
    font-size: 16px;
}

.day-checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}

.day-checkbox span {
    margin-left: 5px;
    margin-right: 2px;
}

.main-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.time-schedule table {
    border-collapse: collapse;
    width: 100%;
}
.time-schedule {
    flex: 0 0 55%; 
}
.time-schedule th, .time-schedule td {
    border: 2px solid #7e7474;
    padding: 8px;
    text-align: center;
}

.time-schedule th {
    background-color: #c7cbcc;
}

.tasks {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.task-box {
    border: 2px solid #888181;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #cccbcb;
    padding: 10px;
    border-radius: 5px;
}

.task-box input[type="text"] {
    width: 100%;
    padding: 5px 8px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.task-box textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}


.mood {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.mood span {
    margin: 0 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.mood span:hover {
    transform: scale(1.5);
}


.download-btn {
    text-align: right;
    margin-bottom: 10px;
}

.download-btn button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #2196f3;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn button:hover {
    background-color: #1976d2;
}
